body{
    background-color: greenyellow;
}
h1,h2,h3,h4,h5,h6{
    color:magenta;
    font-family: Helvetica, Arial, sans-serif;
}
p{
    color:magenta;
    font-family: Helvetica, Arial, sans-serif;
}
ol,li{
    color:black ;
    font-family: Helvetica, Arial, sans-serif;
}